{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="{% static 'serial/serial_style.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}serial{% endblock %}

{% block content %}

<header>
    <div>
        <a href="/">Strona główna</a>
        <a href="lista_seriali">Lista Seriali</a>
        <a href="add_serial">Dodaj wpis</a>
        <a href="#niedziala">Edytuj wpis</a>
        <a href="#niedziala">Usuń wpis</a>
    </div>
</header>
<br>
 <h1 class="infos">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</h1>
{% endblock %}