{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="{% static 'serial/serial_style.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}serial{% endblock %}

{% block content %}

<header>
    <div>
        <a href="/">Strona główna</a>
        <a href="lista_wydarzen">Lista Wydarzeń</a>
        <a href="add_wydarzenie">Dodaj wydarzenie</a>
        <a href="#niedziala">Edytuj wydarzenie</a>
        <a href="#niedziala">Usuń wydarzenie</a>
    </div>
</header>
<br>
<h1 class="infos">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</h1>

{% endblock %}