

body {
    background-color: aquamarine;
    margin: 50px 50px 150px 50px;
    /*margin-left: 50px;*/
    /*margin-top: 20px;*/
    /*margin-right: 50px*/
}

header div a {
    font-size: x-large;
    color: white;
    margin-right: 30px  ;
    margin-bottom: 50px;
    padding: 10px;
    background-color: rebeccapurple;
    border-radius: 20%;
    /*font-weight: bold;*/
    float: left;
}

header div a:hover{
    text-decoration: None;
    background-color: white;
    margin-right: 30px  ;
    margin-bottom: 50px;
    padding: 10px;
    color: red;
    /*text-decoration: gainsboro;*/
    /*font-weight: bold;*/
    float: left;
    border-radius: 20%;
}
.infos {
    color:darkgreen;
}